spring:
  application:
    name: "CartaoCreditoProposta"
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/keycloak}
    username: ${DATABASE_USERNAME:keycloak}
    password: ${DATABASE_URL:password}
    jpa:
      showSql: false
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQL9Dialect
      hibernate:
        ddlAuto: create-drop

feign:
  client:
    config:
      analiseDados:
        readTimeout: 100
        connectTimeout: 100

management:
  endpoint:
    health:
      showDetails: "always"
  endpoints:
    web:
      exposure:
        include: ["health"]